<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<system.webServer>
		<!-- ⭐ THIS IS THE FIX -->
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

	<connectionStrings>
		<add
		  name="SarkariManzilDB"
		  connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SarkariManzilDB;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
